extend layout
block content
	.tile-box
		.tile-container
			.tile-flip
				.tiles
				.back
					p Insert caption here
		.tile-container
			.tile-flip
				.tiles
				.back
					p Insert caption here
		.tile-container
			.tile-flip
				.tiles
				.back
					p Insert caption here
		.tile-container
			.tile-flip
				.tiles
					img(src = 'img/black_and_white_flower.jpg')
				.back
					p I googled cool black and white pictures.
		.tile-container
			.tile-flip
				.tiles
					img(src = 'img/Black_white_clock.jpg')
				.back
					p And this is what came up. 
		.tile-container
			.tile-flip
				.tiles
					img(src = 'img/black_white_piano.jpg')
				.back
					p *classic b&w piano photo*
		.tile-container
			.tile-flip
				.tiles
				.back
					p Insert caption here
		.tile-container
			.tile-flip
				.tiles
				.back
					p Insert caption here
		.tile-container
			.tile-flip
				.tiles
				.back
					p Insert caption here
	.text-explanation
		h1 What is this?
		p 
			|A repurposed way to show pictures. My family always wrote captions
			|on the back of printed photos. I've taken that idea and turned
			|it into code. Now, each photo is a "tile". When you hover over it, 
			|the tile flips, and the caption is seen on the back.  
		
		h1 Help
		p 
			|I did use a couple of online resources to get started. I talked it over with
			|my final project group and we want to create a small web app based on my widget. When making my
			|widget I decided to finish the backend of the web app. It also made it easier
			|since I could use Jade and Stylus, instead of HTML and CSS. Since I don't have 
			|much experience with backend development, I looked at this tutorial: 
			|http://www.clock.co.uk/blog/a-simple-website-in-nodejs-with-express-jade-and-stylus.
		p
			|I also looked at w3schools.com tutorials for CSS syntax and figuring out the rotate design.


