doctype
html
	head
		title #{title} - UI Widget
		link(href = 'stylesheet/style.css', rel = 'stylesheet')
		link(href = 'stylesheet/index.css', rel = 'stylesheet')
		script(type = 'text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(type = 'text/javascript', src = 'js/index.js')
	body
		header
			h1 Picture Flip
			p by Divya Mahadevan
		.container
			.main-content
				block content

	